.alert-modal {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 405px;
  height: 120px;
  border: 1px solid rgb(169, 235, 164);
  background-color: #ffffff;
  z-index: 400;
}
.alert-modal-header {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(169, 235, 164)) !important;
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
}
.alert-modal-header-button > button {
  height: 20px;
  min-width: 10px !important;
  width: 20px;
  font-size: 12px;
  color: black;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-image: linear-gradient(rgb(255, 255, 255), #ccc);
  cursor: pointer;
}
.alert-modal-content {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-modal-content > span {
  text-align: center;
}

.alert-modal-footer {
  display: flex;
  justify-content: center;
}
.alert-modal-footer > button {
  width: 100px;
  height: 25px;
  cursor: pointer;
}
